html {
    background-color: #202020;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

svg {
    display: block;
    margin: 0 auto;
    outline: 1px solid white;
    font-family: "Noto Sans HK", sans-serif;
}